/** Display = List */

.wpdshortcode.display-list,
.wpd-menu-item.display-list {
    flex-basis: 100%;
    margin: 0 1%;
    height: auto !important;
    padding: 24px 0;
    border-bottom: 1px solid #DDD;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

@media screen and (max-width: 900px) {
    .wpdshortcode.display-list,
    .wpd-menu-item.display-list {
        text-align: left;
    }
}

/** List title */

.wpd-styles-item-details {
    text-align: left;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.entry-content .wpdshortcode.display-list p,
.entry-content .wpd-menu-item.display-list p {
    font-size: 24px;
    display: block;
    line-height: 1;
    margin-bottom: 0;
    margin-top: 0;
}

.wpdshortcode.display-list p a,
.wpdshortcode.display-list p a:visited,
.wpd-menu-item.display-list p a,
.wpd-menu-item.display-list p a:visited {
    color: #454545;
}

.wpdshortcode.display-list p a:hover,
.wpd-menu-item.display-list p a:hover {
        color: #8224e3;
}

@media only screen and ( max-width: 980px ) {
	.entry-content .wpdshortcode.display-list p,
	.wpd-menu-item.display-list p {
		font-size: 18px;
		margin-top: 16px;
	}
}

/** List category */

span.wpd-styles-category {
    background: #eee;
    border-radius: 5px;
    float: left;
    font-size: 14px;
    margin-right: 10px;
    min-width: 90px;
    padding: 14px 20px;
    text-align: center;
}

span.wpd-styles-category a,
span.wpd-styles-category a:visited {
	color: #454545;
}

span.wpd-styles-category a:hover {
	color: #8224e3;
}

/** List image */

span.wpd-styles-list-images {
    margin-right: 12px;
}

/** Ratings */

.wpd-menu-item.display-list .product-ratings {
    margin-top: 0;
}

@media (max-width: 600px) {
    .wpd-menu-item.display-list h2.wpd-producttitle {
        font-size: 18px;
    }
    .wpd-menu-item.display-list p.comment-rating i {
        font-size: 12px;
    }
}

/** Prices */

.wpd-styles-price {
    float: left;
    padding: 10px;
    text-align: center;
    font-size: 24px;
    background: #EEE;
    font-weight: 700;
    padding: 6px 10px;
    margin-left: 12px;
    min-width: 75px;
    border-radius: 5px;
    margin-top: 0;
}

.wpd-styles-price span {
    display: block;
    font-weight: 400;
    font-size: 12px;
}

@media only screen and ( max-width: 980px ) {
	.wpd-styles-price-wrap {
		top: 32px;
	}
	.wpd-styles-price {
        font-size: 18px;
        min-width: 50px;
        background: #EEE;
        padding: 6px;
    }
	.wpd-styles-price-wrap .wpd-styles-price:nth-child(3),
	.wpd-styles-price-wrap .wpd-styles-price:nth-child(4),
	.wpd-styles-price-wrap .wpd-styles-price:nth-child(5) {
		display: none;
	}
}

@media (max-width: 600px) {
    .wpd-styles-price-wrap .wpd-styles-price:nth-child(2) {
        display: none;
    }
}

.wpd-styles-item-details .wpd-productinfo {
    margin: 0 6px 0 0;
}

/** Pre-roll flower link color */

.wpdshortcode span.wpd-productinfo a,
.wpdshortcode span.wpd-productinfo a:visited {
    color: #AAA;
}

.wpdshortcode span.wpd-productinfo a:hover {
    color: #454545;
}

/** Button Styles */

a.button.wpd-connect-btn,
a.button.wpd-connect-btn:visited {
	background: transparent;
	border: 1px solid #AAA;
	box-shadow: none;
	color: #AAA;
	display: inline-block;
	margin-bottom: 5px;
	padding: 10px 15px;
}

a.button.wpd-connect-btn:hover {
	background: transparent;
	border: 1px solid #76BD1D;
	box-shadow: none;
	color: #76BD1D;
}

a.button.wpd-connect-btn.buy-now,
a.button.wpd-connect-btn.buy-now:visited {
	background: transparent;
	border: 1px solid #76BD1D;
	color: #76BD1D;
}

a.button.wpd-connect-btn.buy-now:hover {
	background: #76BD1D;
	border: 1px solid #76BD1D;
	color: #FFF;
}

/** Buttons - Shortcodes - View Details & Buy Now - width */

.wpd-productbuttons a.button.wpd-connect-btn {
    float: left;
    width: 49%;
    text-align: center;
    margin-right: 2%;
}

.wpd-productbuttons a.button.wpd-connect-btn.buy-now {
    margin-right: 0;
}

/** Buttons - Shortcodes - Buy Now (Out of Stock) */

.wpd-wooconnect-outofstock {
    background: #EEE;
    border: 1px solid #EEE;
    color: #AAA;
    display: inline-block;
    float: left;
    margin-right: 0;
    margin-bottom: 5px;
    padding: 10px 15px;
    text-align: center;
    width: 49%;
    font-size: 15px;
    font-weight: 600;
    line-height: 1.3;
    border-radius: 3px;
}

@media screen and (max-width: 768px) {
	.wpd-wooconnect-outofstock,
	.wpd-productbuttons a.button.wpd-connect-btn {
		width: 100%;
	}
}

p.wpd-wooconnect {
	text-align: center;
}

/** List display title */

.wpdshortcode.display-list h2.wpd-producttitle,
.wpd-menu-item.display-list h2.wpd-producttitle {
    margin-top: 0;
    flex: initial;
}

/** List display out of stock warning */

.wpd-menu-item.display-list span.wpd-inventory.warning,
.wpdshortcode.display-list span.wpd-inventory.warning {
    padding: 5px 10px;
    margin-top: 12px;
    width: fit-content;
}