/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.wpd-locations-widget {
    display: inline-block;
	margin: 12px 0;
	max-width: 100%;
    position: relative;
	width: 100%;
}

.wpd-locations-widget:first-child {
	margin-top: 0;
}

.wpd-locations-widget:last-child {
	margin-bottom: 0;
}

.wpd-locations-widget img {
	height: auto;
    margin-bottom: 12px;
	width: 100%;
}

span.wpd-locations-widget-title {
    font-size: 16px;
	font-weight: 600;
	line-hehgit: 1.2;
}

span.wpd-locations-widget-categories {
    float: right;
	font-size: 13px;
    font-weight: 600;
	line-height: 1.2;
}

span.wpd-locations-widget-categories a,
span.wpd-locations-widget-categories a:visited {
    background: #EEE;
    border-radius: 15px;
    color: #AAA;
    display: inline-block;
    padding: 5px 10px;
}

span.wpd-locations-widget-categories a:hover {
	color: #454545;
}

ul.wpd-locations-list li:before {
    color: #454545;
    content: "\f105";
    font-family: 'Font Awesome 5 Free';
    margin-right: 6px;
    -webkit-font-smoothing: antialiased;
}