/**
 * WP Dispensary's eCommerce CSS
 * for the admin dashboard.
 */

table.wpd-ecommerce.widget.checkout {
    width: 100%;
}

body.post-type-wpd_orders #post-body-content {
    margin-bottom: 0;
}

.order-details-box {
    position: relative;
    float: left;
    width: 31.333%;
    margin-right: 2%;
}

@media screen and (max-width: 767px) {
    .order-details-box {
        width: 100%;
        margin-right:0;
    }
}

.order-details-box.wide-box {
    width: 100%;
    margin-right: 0;
}