/**
 * WP Dispensary's eCommerce CSS
 * for the admin dashboard.
 */

/** Order Table */

table.wpd-ecommerce {
    border-collapse: collapse;
    width: 100%;
}

/** Cart Table Alignment */
table.wpd-ecommerce thead tr td,
table.wpd-ecommerce tbody tr td {
    text-align: left;
}

table.wpd-ecommerce tbody tr td:first-child {
    text-align: center;
}

/** Cart Style */

table.wpd-ecommerce thead {
	border: 1px solid #DDD;
}

table.wpd-ecommerce tbody tr {
    border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

table.wpd-ecommerce td {
	padding: 12px 12px;
	vertical-align: middle;
}

table.wpd-ecommerce thead tr {
	font-weight: 700;
}

table.wpd-ecommerce tbody td input[type="number"] {
    padding: 3px 6px;
    text-align: center;
    width: 3.5em;
}

/** Orders Table image */

table.wpd-ecommerce img.wpd-ecommerce-orders-table-image {
    max-width: 50px;
}

/** Remove margin from metabox */

body.post-type-wpd_orders #post-body-content {
    margin-bottom: 0;
}

.order-details-box,
.order-item-details-box {
    position: relative;
    float: left;
    width: 31.333%;
    margin-left: 2%;
    margin-bottom: 12px;
}

.order-item-details-box.first {
    margin-left: 0%;
    width: 31.333%;
}

#post-body.columns-2 #postbox-container-1 .order-details-box,
#post-body.columns-2 #postbox-container-1 .order-item-details-box {
    margin-left: 0;
    width: 100%;
}

@media screen and (max-width: 767px) {
    .order-details-box,
    .order-item-details-box,
    .order-item-details-box.first {
        width: 100%;
        margin-left: 0;
        margin-bottom: 0;
    }
}

.order-details-box.wide-box {
    width: 100%;
    margin-left: 0;
    margin-top: 12px;
}

/** Order and customer details metaboxes */
div#wpd_ecommerce_order_item_details .inside,
div#wpd_ecommerce_order_customer_details .inside,
div#wpd_ecommerce_order_status .inside {
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    width: 100%;
}

/** Order total */
.order-item-details-box.first h3 {
    margin-top: 6px;
    margin-bottom: 0;
}

/** Order details h2 title removal */

div#wpd_ecommerce_order_item_details h2.ui-sortable-handle,
div#wpd_ecommerce_order_item_details button.handlediv {
    display: none;
}

/** Order details table style */

table.wpd-ecommerce.order-details {
    border-top: 1px solid #DDD;
    font-size: 13px;
    margin-top: 3px;
}

table.wpd-ecommerce.order-details td:first-child {
    text-align: left;
    width: 50%;
}

/* WooCommerce customer verification file upload */

div.valid-id,
div.recommendation-doc {
    display: block;
    position: relative;
    width: 100px;
}

td.wpd-ecommerce-valid-id input[type="file"],
td.wpd-ecommerce-recommendation-doc input[type="file"] {
    display: block;
}

img.wpd-ecommerce-valid-id,
img.wpd-ecommerce-recommendation-doc {
	height: auto;
    margin-bottom: 12px;
	width: 100%;
}

input[type="submit"].remove-valid-id,
input[type="submit"].remove-recommendation-doc {
    position: absolute;
    top: -5px;
    right: -5px;
    color: #FFF;
    background: #FF0000;
    border: 0;
    padding: 10px 6.61px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 14px;
    line-height: 1px;
    font-family: 'Helvetica', Arial, sans-serif;
    text-align: center;
}

input[type="submit"].remove-valid-id:active,
input[type="submit"].remove-valid-id:focus,
input[type="submit"].remove-valid-id:hover,
input[type="submit"].remove-recommendation-doc:active,
input[type="submit"].remove-recommendation-doc:focus,
input[type="submit"].remove-recommendation-doc:hover {
	cursor: pointer;
	background: #F00000;
	color: #FFF;
}

/** Orders page statuses */

td.wpd_orders_status.column-wpd_orders_status .wpd-ecommerce.status:before {
    font-family: 'FontAwesome';
    font-size: 16px;
    margin-right: 6px;
    padding-right: 2px;
    -webkit-font-smoothing: antialiased;
}

td.wpd_orders_status.column-wpd_orders_status .wpd-ecommerce.status.wpd-pending:before {
    content: "\f017";
}

td.wpd_orders_status.column-wpd_orders_status .wpd-ecommerce.status.wpd-processing:before {
    content: "\f110";
}

td.wpd_orders_status.column-wpd_orders_status .wpd-ecommerce.status.wpd-on-hold:before {
    content: "\f256";
}

td.wpd_orders_status.column-wpd_orders_status .wpd-ecommerce.status.wpd-completed:before {
    content: "\f058";
}

td.wpd_orders_status.column-wpd_orders_status .wpd-ecommerce.status.wpd-cancelled:before {
    content: "\f05e";
}

td.wpd_orders_status.column-wpd_orders_status .wpd-ecommerce.status.wpd-refunded:before {
    content: "\f119";
}

td.wpd_orders_status.column-wpd_orders_status .wpd-ecommerce.status.wpd-failed:before {
    content: "\f00d";
}
