/**
 * WP Dispensary's eCommerce CSS
 * For the public facing website.
 */

/** Price Display on Products */
p.price {
    color: #76BD1D;
    font-size: 1.245em;
}

/** Return to Cart button */
a.button.wpd-ecommerce.return {
	padding: 7px 15px;
}

/** Cart Remove Button */
table.wpd-ecommerce a.remove,
#wpd_ecommerce_remove_product {
    background: transparent;
    border: 0;
    border-radius: 100%;
    color: red!important;
    font-size: 100%;
    font-weight: 700;
    height: 1em;
    line-height: 1;
    padding: 0;
    text-align: center;
    text-decoration: none;
    width: 1em;
}

/** Cart Table Alignment */
table.wpd-ecommerce thead tr td,
table.wpd-ecommerce tbody tr td {
    text-align: left;
}

table.wpd-ecommerce tbody tr td:first-child {
    text-align: center;
}

/** Cart Style */

table.wpd-ecommerce thead {
	border: 1px solid #DDD;
}

table.wpd-ecommerce tbody tr {
    border-bottom: 1px solid #DDD;
	border-left: 1px solid #DDD;
	border-right: 1px solid #DDD;
}

table.wpd-ecommerce td {
	padding: 12px 12px;
	vertical-align: middle;
}

table.wpd-ecommerce thead tr {
	font-weight: 700;
}

table.wpd-ecommerce tbody td input[type="number"] {
    padding: 3px 6px;
    text-align: center;
    width: 3.5em;
}

/** Cart Page Totals Box */

.wpd-ecommerce-wrap {
	float: left;
	position: relative;
	width: 100%;
}

.wpd-ecommerce-wrap .cart-totals {
    float: right;
    width: 48%;
}

table.wpd-ecommerce.totals th {
    padding: 10px;
}

table.wpd-ecommerce.totals tbody {
    border-top: 1px solid #DDD;
}

.wpd-ecommerce-wrap .cart-totals p.wpd-ecommerce.buttons a {
    text-align: center;
    width: 100%;
}

/** Cart Widget Style */

table.wpd-ecommerce.widget {
    box-shadow: none;
	font-size: .850em;
}

.widget.wp-dispensary-cart-widget h2.widget-title {
    margin-bottom: 0;
}

table.wpd-ecommerce.widget a {
	font-weight: 700;
}

table.wpd-ecommerce.widget tbody {
    border-bottom: 1px solid #DDD;
}

table.wpd-ecommerce.widget tbody tr {
	border: 0;
}

/** Cart Widget Text Align */

table.wpd-ecommerce.widget tbody tr td {
	text-align: left;
	padding: 12px 0;
}

table.wpd-ecommerce.widget tbody tr td:first-child {
	padding: 12px 12px 12px 0;
}

table.wpd-ecommerce.widget tbody tr td:last-child {
	padding: 12px 0 12px 12px;
    text-align: right;
}

/** Cart Widget Amount */

table.wpd-ecommerce.widget tbody td span.amount {
	color: #999;
}

/** Cart Widget Buttons */

p.wpd-ecommerce-widget.buttons a.button {
    padding: 7px 15px;
}

/** Cart Checkout */

table.wpd-ecommerce.widget.checkout tbody tr {
    border-bottom: 1px solid #DDD;
    border-left: 1px solid #DDD;
    border-right: 1px solid #DDD;
}

table.wpd-ecommerce.widget.checkout tbody tr td:first-child img {
    margin-right: 10px;
}

table.wpd-ecommerce.widget.checkout tbody tr td:first-child {
    padding: 12px;
}

table.wpd-ecommerce.widget.checkout tbody tr td:last-child {
    text-align: left;
}

h2.wpd-ecommerce.patient-title {
    font-size: 48px;
    margin-top: 0;
}

h3.wpd-ecommerce.patient-title {
    font-size: 36px;
}

/** Notifications */
.wpd-ecommerce-notifications {
    background-color: #f8f8f8;
    color: #454545;
    font-size: 13px;
	line-height: 33px;
    list-style: none outside;
    margin: 0;
    padding: 1em 1.5em 1em 1.5em;
    position: relative;
    width: auto;
    word-wrap: break-word;
}

.wpd-ecommerce-notifications.success {
    margin-bottom: 0;
}

.wpd-ecommerce-notifications.success:before {
    color: #76bd1d;
    content: "\f058";
    font-family: FontAwesome;
    font-size: 16px;
    margin-right: 6px;
    -webkit-font-smoothing: antialiased;
}

.wpd-ecommerce-notifications a.button {
    float: right;
    font-size: 14px !important;
    margin-left: 5px;
    padding: 7px 15px;
}

.wpd-ecommerce-notifications.failed {
    margin-bottom: 0;
}

.wpd-ecommerce-notifications.failed:before {
    color: red;
    content: "\f057";
    font-family: FontAwesome;
    font-size: 16px;
    margin-right: 6px;
    -webkit-font-smoothing: antialiased;
}


/** Single Item Template */

.wpd-ecommerce-single-notifications {
    display: block;
    padding: 24px 24px 0 24px;
    width: 100%;
}

.entry-header.wpd-ecommerce-shelfItem {
	border: 0;
    float: left;
    padding: 24px;
	text-align: left;
    width: 100%;
}

.wpd-ecommerce-shelfItem .image-wrapper {
    float: left;
    width: 47%;
}

.wpd-ecommerce-shelfItem .product-details {
    float: right;
    width: 47%;
}

.wpd-ecommerce-shelfItem .product-details header.entry-header {
    border-top: 0;
    padding: 0;
    text-align: left;
}


.wpd-ecommerce-shelfItem .product-details header.entry-header form.wpd-ecommerce {
	text-align: left;
}

.wpd-ecommerce-shelfItem .product-details header.entry-header h1 {
    margin-bottom: 12px;
    margin-top: 0;
}

.entry-content.wpd-ecommerce-shelfContent {
	text-align: left;
}

/** Vendors */
.wpd-ecommerce.vendors a,
.wpd-ecommerce.vendors a:visited {
    font-size: 0.85em;
    color: #AAA;
}

.wpd-ecommerce.vendors a:hover {
    color: #454545;
}

/** Product Prices select field */
select#wpd_ecommerce_product_prices,
select#wpd_ecommerce_flowers_prices,
select#wpd_ecommerce_concentrates_prices {
    border-radius: 3px;
    float: left;
    font-size: 0.85em;
    margin-right: 2%;
    padding: 10px;
    width: 45%;
}

/** Quantity input field */
form.wpd-ecommerce input#qtty {
    float: left;
    font-size: 0.85em;
    margin-right: 1%;
    padding: 10px 5px 10px 10px;
    width: 4.20em;
}

/** Add to Cart button */
form.wpd-ecommerce input#add_item_btn {
    font-size: 0.95em;
    margin-left: 6px;
    padding: 10px 15px;
}

/** Extra product info */
p.wpd-ecommerce-categories,
p.wpd-ecommerce-sku,
p.wpd-ecommerce-sale-price {
    font-size: 0.85em;
}

/** Single item - Item types */
.wpd-ecommerce.item-types {
    font-size: 0.85em;
    margin-top: 12px;
}

.wpd-ecommerce.item-types span a {
    margin-right: 10px;
}

/** Single item - Shelf type */
span.wpd-ecommerce.shelf-type {
    position: absolute;
    top: 24px;
    left: 24px;
}

span.wpd-ecommerce.shelf-type a,
span.wpd-ecommerce.shelf-type a:visited {
    background: rgba(0,0,0,0.05);
    border-radius: 3px;
    color: #999;
    display: inline-block;
    padding: 10px;
}

span.wpd-ecommerce.shelf-type a:active,
span.wpd-ecommerce.shelf-type a:focus,
span.wpd-ecommerce.shelf-type a:hover {
    color: #454545;
}

/** Single item - Strain type */

span.wpd-ecommerce.strain-type a,
span.wpd-ecommerce.strain-type a:visited {
    background: rgba(0,0,0,0.05);
    border-radius: 3px;
    color: #999;
    display: inline-block;
    padding: 10px;
}

span.wpd-ecommerce.strain-type a:active,
span.wpd-ecommerce.strain-type a:focus,
span.wpd-ecommerce.strain-type a:hover {
    color: #454545;
}

/** Single item - Categories */

span.wpd-ecommerce.category a,
span.wpd-ecommerce.category a:visited {
    background: rgba(0,0,0,0.05);
    border-radius: 3px;
    color: #999;
    display: inline-block;
    padding: 10px;
}

span.wpd-ecommerce.category a:active,
span.wpd-ecommerce.category a:focus,
span.wpd-ecommerce.category a:hover {
    color: #454545;
}


/** Single Itme - Prices (flowers) */
span.wpd-ecommerce.prices-flowers {
    color: #76BD1D;
    display: block;
    font-size: 18px;
    margin-bottom: 12px;
}

/** My Account Form */

form.wpd-ecommerce.form p:first-child {
    margin-top: 18px;
}

form.wpd-ecommerce.form .form-row.first,
form.wpd-ecommerce.form .form-row.last {
    float: left;
    overflow: visible;
    width: 48%;
}

form.wpd-ecommerce.form .form-row.last {
	float: right;
}

/** Form Required Label */

form.wpd-ecommerce.form .form-row label span.required {
    color: red;
    margin-left: 2px;
}

/** Form Password Label */

form.wpd-ecommerce.form .form-row label em {
    color: #AAA;
    font-weight: 400;
}

/** Form Address line */

input#address_line_2 {
    margin-top: 12px;
}

/** Orders Table image */

table.wpd-ecommerce img.wpd-ecommerce-orders-table-image {
    max-width: 50px;
}

/** Account page forms */

.wpd-ecommerce-login-form {
    float: left;
    width: 48%;
    margin-right: 2%;
}

.wpd-ecommerce-login-registration {
    float: left;
    width: 48%;
    margin-left: 2%;
}

form#wpd-ecommerce-login {
    width: 100%;
    margin: 0;
    padding: 20px;
    box-sizing: border-box;
    border: 1px solid #DDD;
}

@media screen and (max-width:768px) {
    .wpd-ecommerce-login-form,
    .wpd-ecommerce-registration-form {
        margin: 0 0 12px 0;
        width: 100%;
    }
}

/** Login form button */
form#wpd-ecommerce-login input#wp-submit {
    padding: 12px 24px;
}

/** Account page tabs */

div.wpd-ecommerce.patient-account section {
    display: none;
    padding: 20px 0 0;
    border-top: 1px solid #76bd1d;
}

div.wpd-ecommerce.patient-account input.account-links {
    display: none;
}

div.wpd-ecommerce.patient-account label.account-links {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 10px 15px;
    font-weight: 600;
    text-align: center;
    color: #AAA;
    border: 1px solid transparent;
}

div.wpd-ecommerce.patient-account label.account-links:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

div.wpd-ecommerce.patient-account label.account-links[for*='1']:before { content: "\f015"; }
div.wpd-ecommerce.patient-account label.account-links[for*='2']:before { content: "\f0d6"; }
div.wpd-ecommerce.patient-account label.account-links[for*='3']:before { content: "\f007"; }
div.wpd-ecommerce.patient-account label.account-links[for*='4']:before { content: "\f138"; }

div.wpd-ecommerce.patient-account label.account-links:hover {
    color: #76bd1d;
    cursor: pointer;
}

div.wpd-ecommerce.patient-account input.account-links:checked + label.account-links {
    color: #76bd1d;
    border: 1px solid #76bd1d;
    border-top: 2px solid #76bd1d;
    border-bottom: 1px solid #fff;
}

div.wpd-ecommerce.patient-account #tab1:checked ~ #content1,
div.wpd-ecommerce.patient-account #tab2:checked ~ #content2,
div.wpd-ecommerce.patient-account #tab3:checked ~ #content3,
div.wpd-ecommerce.patient-account #tab4:checked ~ #content4 {
    display: block;
}

@media screen and (max-width: 800px) {
    div.wpd-ecommerce.patient-account label.account-links {
        font-size: 0;
    }
    div.wpd-ecommerce.patient-account label.account-links:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 500px) {
    div.wpd-ecommerce.patient-account label.account-links {
        padding: 15px;
    }
}

.wpd-ecommerce.patient-account h3.wpd-ecommerce.patient-title {
    margin-top: 12px;
}

/** Account page - orders table */

table.wpd-ecommerce.patient-orders {
    font-size: 14px;
}

table.wpd-ecommerce.patient-orders tbody tr td:first-child {
    padding-right: 0;
    text-align: left;
}

@media screen and (min-width: 768px) {
    table.wpd-ecommerce.patient-orders tr td:last-child {
        max-width: 80px;
    }
}

@media screen and (max-width:768px) {
    table.wpd-ecommerce tr td:nth-child(2) {
        max-width: 80px;
        font-size:13px;
    }
    table.wpd-ecommerce.patient-orders tbody td a.button {
        padding: 10px 5px !important;
    }
}

/** Account page - orders table button */

table.wpd-ecommerce.patient-orders tbody td a.button {
    padding: 10px 15px;
    font-size: 14px;
    width: 100%;
    text-align: center;
}

/** Account page - orders table status */

table.wpd-ecommerce.patient-orders tbody td span.status {
    text-align: left;
    display: block;
    padding: 10px 0;
    font-size: 13px;
    border-radius: 3px;
}

/** Account page - order table statuses */

table.wpd-ecommerce.patient-orders tbody td span.status:before {
    color: #454545;
    font-family: FontAwesome;
    font-size: 16px;
    margin-right: 6px;
    padding-right: 2px;
    -webkit-font-smoothing: antialiased;
}

table.wpd-ecommerce.patient-orders tbody td span.status.wpd-pending:before {
    content: "\f017";
}

table.wpd-ecommerce.patient-orders tbody td span.status.wpd-processing:before {
    content: "\f110";
}

table.wpd-ecommerce.patient-orders tbody td span.status.wpd-on-hold:before {
    content: "\f256";
}

table.wpd-ecommerce.patient-orders tbody td span.status.wpd-completed:before {
    content: "\f058";
}

table.wpd-ecommerce.patient-orders tbody td span.status.wpd-cancelled:before {
    content: "\f05e";
}

table.wpd-ecommerce.patient-orders tbody td span.status.wpd-refunded:before {
    content: "\f119";
}

table.wpd-ecommerce.patient-orders tbody td span.status.wpd-failed:before {
    content: "\f00d";
}

/** Account page - Administrators */

.wpd-ecommerce.account-administrator.earnings {
    box-sizing: border-box;
    border-radius: 3px;
    background: #71BD1D;
    color: #FFF;
    float: left;
    font-size: 24px;
    margin-left: 2%;
    margin-bottom: 24px;
    padding: 20px;
    text-align: center;
    width: 48%;
}

.wpd-ecommerce.account-administrator.earnings span {
    display: block;
    font-size: 16px;
}

.wpd-ecommerce.account-administrator.orders {
    box-sizing: border-box;
    border-radius: 3px;
    background: #DDD;
    color: #454545;
    float: left;
    font-size: 24px;
    margin-left: 0;
    margin-bottom: 24px;
    padding: 20px;
    text-align: center;
    width: 24%;
}

.wpd-ecommerce.account-administrator.orders span {
    display: block;
    font-size: 16px;
}

.wpd-ecommerce.account-administrator.patients {
    box-sizing: border-box;
    border-radius: 3px;
    background: #DDD;
    color: #454545;
    float: left;
    font-size: 24px;
    margin-right: 2%;
    margin-bottom: 24px;
    padding: 20px;
    text-align: center;
    width: 24%;
}

.wpd-ecommerce.account-administrator.patients span {
    display: block;
    font-size: 16px;
}

body.single-wpd_orders .entry-header {
    text-align: left;
}

body.single-wpd_orders .entry-header h1 {
    position: relative;
}

/** Orders page - front end order display - status */

body.single-wpd_orders .entry-header h1 span.status {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    padding: 10px 0;
    top: 6px;
    position: absolute;
    border-radius: 3px;
    color: #AAA;
    margin-left: 24px;
    display: inline-block;
    box-sizing: border-box;
}

body.single-wpd_orders .entry-header h1 span.status:before {
    color: #AAA;
    font-family: FontAwesome;
    font-size: 16px;
    margin-right: 6px;
    padding-right: 2px;
    -webkit-font-smoothing: antialiased;
}

body.single-wpd_orders .entry-header h1 span.status.wpd-completed {
    color: #76BD1D;
}

body.single-wpd_orders .entry-header h1 span.status.wpd-completed:before {
    content: "\f058";
    color: #76BD1D;
}

body.single-wpd_orders .entry-header h1 span.status.wpd-pending:before {
    content: "\f017";
}

body.single-wpd_orders .entry-header h1 span.status.wpd-processing:before {
    content: "\f110";
}

body.single-wpd_orders .entry-header h1 span.status.wpd-on-hold:before {
    content: "\f256";
}

body.single-wpd_orders .entry-header h1 span.status.wpd-cancelled:before {
    content: "\f05e";
}

body.single-wpd_orders .entry-header h1 span.status.wpd-refunded:before {
    content: "\f119";
}

body.single-wpd_orders .entry-header h1 span.status.wpd-failed:before {
    content: "\f00d";
}

body.single-wpd_orders .entry-content.order-details .patient-address {
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 24px;
    width: 31.333%;
}

body.single-wpd_orders .entry-content.order-details .patient-contact {
    float: left;
    margin-left: 2%;
    margin-bottom: 24px;
    width: 31.333%;
}

body.single-wpd_orders .entry-content.order-details .patient-contact a.email-address:before {
    content: "\f0e0";
    margin-right: 6px;
}

body.single-wpd_orders .entry-content.order-details .patient-contact a.phone-number:before {
    content: "\f3cd";
    margin-right: 6px;
}

body.single-wpd_orders .entry-content.order-details .order-info {
    float: left;
    margin-right: 2%;
    margin-bottom: 24px;
    width: 31.333%;
}

@media screen and (max-width:768px) {
    body.single-wpd_orders .entry-content.order-details .patient-address,
    body.single-wpd_orders .entry-content.order-details .patient-contact,
    body.single-wpd_orders .entry-content.order-details .order-info {
        width: 100%;
        margin: 0 0 24px 0;
    }
}

/** Order complete page */

.entry-content .wpd-ecommerce.order-complete {
    position: relative;
    float: left;
    width: 100%;
}

.entry-content .wpd-ecommerce.order-complete .patient-address {
    float: left;
    margin-bottom: 24px;
    width: 31.333%;
}

.entry-content .wpd-ecommerce.order-complete .patient-contact {
    float: left;
    margin-left: 2%;
    margin-bottom: 24px;
    width: 31.333%;
}

.entry-content .wpd-ecommerce.order-complete .patient-contact a.email-address:before {
    content: "\f0e0";
    margin-right: 6px;
}

.entry-content .wpd-ecommerce.order-complete .patient-contact a.phone-number:before {
    content: "\f3cd";
    margin-right: 6px;
}

.entry-content .wpd-ecommerce.order-complete .order-info {
    float: left;
    margin-right: 2%;
    margin-bottom: 24px;
    width: 31.333%;
}

@media screen and (max-width:768px) {
    .entry-content .wpd-ecommerce.order-complete .patient-address,
    .entry-content .wpd-ecommerce.order-complete .patient-contact,
    .entry-content .wpd-ecommerce.order-complete .order-info {
        width: 100%;
        margin: 0 0 24px 0;
    }
}

/** Completed order table display */

table.completed-order-details tbody tr td:first-child {
    max-width: 40px;
}

table.completed-order-details tbody tr td {
    padding: 5px 0;
}

table.wpd-ecommerce.cart {
    margin-top:20px;
}

/** Cart - Coupon form */
form.wpd-ecommerce-apply-coupon {
    text-align: left;
}

/** Cart - Coupon input field */
form.wpd-ecommerce-apply-coupon input[type="text"] {
    max-width: 200px;
}

form.wpd-ecommerce-apply-coupon input.button {
    padding: 12px 24px;
}

/** Orders - details table */

table.wpd-ecommerce.order-details td:first-child {
    text-align: left;
}

table.wpd-ecommerce.order-details td:last-child {
    text-align: right;
}

table.wpd-ecommerce.order-details tbody {
    border-top: 1px solid #DDD;
}

/**
 *
 */
body.post-type-archive-concentrates .hentry, body.post-type-archive-edibles .hentry, body.post-type-archive-flowers .hentry, body.post-type-archive-gear .hentry, body.post-type-archive-growers .hentry, body.post-type-archive-prerolls .hentry, body.post-type-archive-tinctures .hentry, body.post-type-archive-topicals .hentry, body.tax-allergens .hentry, body.tax-aroma .hentry, body.tax-concentrates_category .hentry, body.tax-condition .hentry, body.tax-edibles_category .hentry, body.tax-effect .hentry, body.tax-flavor .hentry, body.tax-flowers_category .hentry, body.tax-growers_category .hentry, body.tax-ingredients .hentry, body.tax-symptom .hentry, body.tax-topicals_category .hentry, body.tax-vendor .hentry, body.tax-wpd_gear_category .hentry, body.tax-wpd_tinctures_category .hentry {
    width: 100% !important;
}

.wpd-row {
    padding: 12px;
    display: inline-block;
    width: 100%;
    margin-bottom: 0;
}

.wpdshortcode {
    padding: 10px;
}

.wpdshortcode:nth-child(3n+3) {
    margin: 12px 0;
}