/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.wpd-topsellers-widget {
    display: inline-block;
	margin: 12px 0;
	max-width: 100%;
    position: relative;
	width: 100%;
}

.wpd-topsellers-widget:first-child {
	margin-top: 0;
}

.wpd-topsellers-widget:last-child {
	margin-bottom: 0;
}

.wpd-topsellers-widget img {
	height: auto;
    margin-bottom: 12px;
	width: 100%;
}

span.wpd-topsellers-widget-title {
    font-size: 16px;
	font-weight: 600;
	line-height: 1.2;
}

span.wpd-topsellers-widget-categories {
    float: right;
	font-size: 13px;
    font-weight: 600;
	line-height: 1.2;
}

span.wpd-topsellers-widget-categories a,
span.wpd-topsellers-widget-categories a:visited {
    background: #EEE;
    border-radius: 15px;
    color: #AAA;
    display: inline-block;
    padding: 5px 10px;
}

span.wpd-topsellers-widget-categories a:hover {
	color: #454545;
}

ul.wpd-topsellers-list li:before {
    color: #454545;
    content: "\f105";
    font-family: 'FontAwesome';
    margin-right: 6px;
    -webkit-font-smoothing: antialiased;
}

span.wpd-topsellers-icon {
    background: #76bd1d;
    border-radius: 32px;
    color: #FFF;
    font-size: 24px;
    padding: 12px 17.4px;
    position: absolute;
    top: -6px;
    right: -6px;
    z-index: 2;
}

span.wpd-topsellers-icon.single {
    border-radius: 92px;
    color: #FFF;
    font-size: 36px;
    padding: 23.8px 26px;
    line-height: 1;
    top: -20px;
    right: -10px;
}

@media screen and (max-width: 800px) {
	span.wpd-topsellers-icon.single {
		top: 10px;
		right: 10px;
	}
}
